.newTask{
    display: flex;
    margin: -35px 0 0 0;
    gap: 8px;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    
}

.newTask .input{
    border-radius: 8px;
    border: 1px solid var(--gray-700);
    background: var(--gray-500);
    width: 736px;
    padding: 16px;
}

.input{
    flex: 1 0 0 0;
}

.button{
    padding: 16px;
    border-radius: 8px;
    background: var(--blue);
}

.task{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}


.taskCount{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    width: 100%;
}


.created{
    text-align: center;
    flex: 1;
    color: var(--blue);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight:700 ;
}
