.newTask{
    display: flex;
    margin: -35px 0 0 0;
    gap: 8px;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    
}

.newTask .input{
    border-radius: 8px;
    border: 1px solid var(--gray-700);
    background: var(--gray-500);
    width: 736px;
    padding: 16px;
}

.input{
    flex: 1 0 0 0;
}

.button{
    padding: 16px;
    border-radius: 8px;
    background: var(--blue);
}

.task{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
   
}


.taskCount{
    display: flex;
    align-items: center;
    width: 58%;
    gap: 40em;
    border-bottom: 1px solid gray;
    height: 7rem;

}


.border{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100%;
}


.created{
    text-align: center;
    flex: 1;
    color: var(--blue);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight:700 ;
}

.img{
    width: 56px;
    height: 56px;
}

.taskEmpty{
    display: flex;
    flex-direction: column;
    padding: 64px 24px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    border-radius: 8px;
    
    max-width: 100%; 
    margin: 0 auto;
}




.p{
    color: var(--gray-300);
    color: var(--Gray-300, #808080);
    text-align: center;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 22.4px */
   
}